# Exclude the .htaccess file
.htaccess

# Exclude any PSD/AI source
*.psd
*.ai
*.pdf

# exclude the build products
build/*
*.[oa]

# Exclude OS X folder attributes
.DS_Store

# Exclude Text files
*.txt
# Except read me
!README.txt

# Exclude log files
*.log

# Exclude prepro files
*.cfg